/*
 * Stylesheet for main UI
 */
 
@font-face {
	font-family: Comfortaa;
	 src: url("Comfortaa.ttf");
}


.root{
    -fx-font-size: 9pt;
    -fx-font-family: "Comfortaa";
    -fx-background-color : white;
    -fx-base:  #00b3a1;
    -fx-control-inner-background: white;
    -fx-focus-color: transparent;
    }

.button {
	-fx-background-radius: 5;
	-fx-faint-focus-color: transparent;
}

.text-field{
	-fx-text-box-border: transparent;
	-fx-background-color: white;
    -fx-border-width: 2px;
    -fx-border-color:transparent transparent derive(-fx-base,-5%) transparent
}

.text-field:focused {
	-fx-background-color:  derive(-fx-base,95%);
}
.progress-indicator {
    -fx-progress-color: -fx-base;
}

#fullscreen{
	-fx-graphic: url('/ivn/typh/main/icons/fullscreen.png')
}

#fullscreen:selected{
	-fx-graphic: url('/ivn/typh/main/icons/fullscreen_exit.png')
}

#about{
	-fx-graphic: url('/ivn/typh/main/icons/about.png')
}

#connect{
	-fx-graphic: url('/ivn/typh/main/icons/connect.png')
}

#help{
	-fx-graphic: url('/ivn/typh/main/icons/help.png')
}

#logout{
	-fx-graphic: url('/ivn/typh/main/icons/logout.png')
}