/*
 * 	Style sheet for main UI
 */
 
@font-face {
	font-family: Comfortaa;
	 src: url("Comfortaa.ttf");
}


.root {
    -fx-font-size: 9pt;
    -fx-font-family: "Comfortaa";
    -fx-background-color : white;
    -fx-base:  #00b3a1;
    -fx-control-inner-background: white;
    -fx-focus-color: transparent;
  }

.button {
	-fx-background-radius: 5;
	-fx-faint-focus-color: transparent;
}

.text-field{
	-fx-text-box-border: transparent;
	-fx-alignment: center;
	-fx-background-color: white;
    -fx-border-width: 2px;
    -fx-border-color:transparent transparent derive(-fx-base,-5%) transparent
}

.text-field:focused {
	-fx-background-color:  derive(-fx-base,95%);
}
.progress-indicator {
    -fx-progress-color: -fx-base;
}

#user, #password {
	-fx-alignment: baseline-left;
	-fx-min-width: 220
}
#fullscreen{
	-fx-graphic: url('/ivn/typh/main/icons/fullscreen.png')
}

#fullscreen:selected{
	-fx-graphic: url('/ivn/typh/main/icons/fullscreen_exit.png')
}

#about{
	-fx-graphic: url('/ivn/typh/main/icons/about.png')
}

#connect{
	-fx-graphic: url('/ivn/typh/main/icons/connect.png')
}

#help{
	-fx-graphic: url('/ivn/typh/main/icons/help.png')
}

.dialogOKButton{
	-fx-background-color: linear-gradient(derive(#00b3a1,70%),#00b3a1);
	-fx-text-fill: white;
}

.dialogOKButton:hover {
	-fx-cursor: hand;
	-fx-background-color: linear-gradient(#00b3a1,derive(#00b3a1,-30%));
}

#logout{
	-fx-graphic: url('/ivn/typh/main/icons/logout.png')
}


/*
 * 	About Dialog
 */				
 	

#about_pane_contents{
	-fx-background-color: white;
	-fx-spacing: 20;
	-fx-padding: 30;
	
}
#about_pane_window{
	-fx-padding: 10;
}

#about_pane_title{
	-fx-padding: 30;
	-fx-font-size: 26;
	-fx-effect: dropshadow(gaussian,black,10.0,0.0,3,3)
}
#about_pane_close{
	-fx-font-size: 17;
	-fx-background-color: transparent
}
#about_pane_close:hover{
	-fx-text-fill: red;
}

/*
 *  Help Page
 */
 

#help_pane_window{
	-fx-padding: 10;
}
#help_pane_close{
	-fx-font-size: 17;
	-fx-background-color: transparent
}
#help_pane_close:hover{
		-fx-text-fill: red;
}
#help_pane_title{
	-fx-font-size: 15;
}

