/*
 * StyleSheet for admin UI
 */

@font-face {
    src: url("/ivn/typh/main/raw/Comfortaa.ttf");
}

.root {
	-fx-font-size: 9.0pt;
    -fx-font-family: "Comfortaa";
    -fx-base: #00cccc;
    -fx-control-inner-background: #e6ffff;
    -fx-accent: #4d4dff;
}


.button {
	-fx-background-insets: 0.0;
	-fx-background-radius: 0.0;
	-fx-faint-focus-color: transparent;
}
.button:hover{
	-fx-background: derive(-fx-base,-10.0%)
}

/*
 * 	Tab Panes 
 */
 
.tab-pane > .tab-header-area > .headers-region > .tab {
	 -fx-focus-color: transparent;
    -fx-background-radius: 10.0 10.0 0.0 0.0, 9.0 9.0 0.0 0.0, 8.0 8.0 0.0 0.0;
	}
.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: transparent;
}

.tab-pane:left > .tab-header-area {
    -fx-padding: 0.0 0.0 2.0 5.0; 
}



.tab-pane.floating .tab:selected > .tab-content-area{
	-fx-background-color: derive(#3c3c3c,50.0%)
}
.tab:selected {	
	-fx-background-color: #3c3c3c; 
}

.tab-pane.floating > .tab-content-area {
		-fx-color: white;
}

.tab .tab-label { 
    -fx-alignment: center;
    -fx-text-fill: #000000;
}

.tab:selected .tab-label { 
    -fx-alignment: center;
    -fx-text-fill: #00ff80;
    -fx-font-size: 15.0px;
    
}

.scroll-pane {
    -fx-fit-to-width: true;
    -fx-fit-to-height: true ;
}

#side-menu-button {
	-fx-background-color: derive(-fx-base,50%);
	-fx-min-width: 280;
	-fx-background-radius: 20
}

#side-menu-button:hover{
	-fx-background-color: -fx-base
}

#logInfo{
	-fx-text-fill: -fx-base
}


#TheGrid{
	    -fx-background-color: white
}

#search{
		-fx-graphic: url('/ivn/typh/admin/icons/search.png')
	
}
#logout{
	-fx-graphic: url('/ivn/typh/main/icons/logout.png')
}

#fullscreen{
	-fx-graphic: url('/ivn/typh/main/icons/fullscreen.png')
}

#fullscreen:selected{
	-fx-graphic: url('/ivn/typh/main/icons/fullscreen_exit.png')
}
#searchBox{
	-fx-text-box-border: transparent;
	-fx-background-color: white;
    -fx-border-width: 2.0px;
    -fx-border-color:transparent transparent derive(-fx-base,-5.0%) transparent
}

#searchBox:focused{
	-fx-background-color:  derive(-fx-base,95.0%);
}

#institute_dialog{
	-fx-padding: 40;
	-fx-spacing: 35;
}
/*
 * 	Grids inside tab pane
 */

#uGrid,#sGrid,#dGrid {
	-fx-effect: dropshadow(gaussian,black,10.0,0.0,0.0,0.0);
	-fx-border-radius: 10.0;
	-fx-background-insets: 10.0;
    -fx-background-radius: 10.0;
	-fx-padding: 40.0;
	-fx-hgap: 30.0;
	-fx-vgap: 30.0;
}

#sideBar {
	-fx-effect: dropshadow(gaussian,black,20.0,0.0,5.0,0.0);
	-fx-alignment: center;
	-fx-padding: 20.0;
	-fx-background-color: white;
	-fx-spacing: 10.0;
	-fx-fill-width: true
}


/*
 * 	 Grids inside the scene
 */
		
#center{
	-fx-padding: 20.0;
	-fx-spacing: 20.0;
}

#topL{
	-fx-alignment: center;
	-fx-padding: 20.0;
}

#top{
	-fx-padding: 20.0;
	-fx-spacing: 20.0;
	-fx-alignment: center;
}

#left{
		-fx-alignment: center;
		-fx-spacing: 30.0;
	-fx-padding: 20.0;
}

#right{
	-fx-padding: 30.0;
	-fx-spacing: 20.0;
	-fx-alignment: center;
}