/*
 * StyleSheet for admin UI
 */

@font-face {
    src: url("/ivn/typh/main/raw/Comfortaa.ttf");
}

.root {
	-fx-font-size: 9pt;
    -fx-font-family: "Comfortaa";
    -fx-base: #00cccc;
    -fx-control-inner-background: #e6ffff;
    -fx-accent: #4d4dff;
}

#TheGrid{
	    -fx-background-color: linear-gradient(to bottom right ,white,#e6ffff);
}

.button {
	-fx-background-insets: 0;
	-fx-background-radius: 0;
	-fx-faint-focus-color: transparent;
}

.progress-indicator {
    -fx-progress-color: #008080;
}

/*
 * 	 Grids inside the scene
 */
		
#center{
	-fx-padding: 20;
	-fx-spacing: 20;
}

#topL{
	-fx-alignment: center;
	-fx-padding: 20;
}

#top{
	-fx-padding: 20;
	-fx-spacing: 20;
	-fx-alignment: center;
}

#left{
	-fx-spacing: 30;
	-fx-padding: 20;
}

#right{
	-fx-padding: 30;
	-fx-spacing: 20;
	-fx-alignment: center;
}

/*
 * 	Tab Panes 
 */
 
.tab-pane > .tab-header-area > .headers-region > .tab {
	 -fx-focus-color: transparent;
    -fx-background-radius: 10 10 0 0, 9 9 0 0, 8 8 0 0;
	}
.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: transparent;
}

.tab-pane {
  -fx-tab-min-width:150px;
  -fx-tab-max-width:150px;
  -fx-min-width: 700px
}

.tab:selected {	
	-fx-background-color: #3c3c3c; 
}

.tab-pane.floating > .tab-content-area {
		-fx-color: white;
}

.tab .tab-label { 
    -fx-alignment: center;
    -fx-text-fill: #000000;
}

.tab:selected .tab-label { 
    -fx-alignment: center;
    -fx-text-fill: #00ff80;
    -fx-font-size: 15px;
    
}

.scroll-pane {
    -fx-fit-to-width: true;
    -fx-fit-to-height:true
}

/*
 * 	Grids inside tab pane
 */

#uGrid,#sGrid,#dGrid {
	-fx-effect: dropshadow(gaussian,black,10,0,0,0);
	-fx-border-radius: 10;
	-fx-background-insets: 10;
    -fx-background-radius: 10;
	-fx-padding: 40;
	-fx-hgap: 30;
	-fx-vgap: 30;
}